main {
    display: flex;
    justify-content: space-between;
}

.hide {
    pointer-events:none;
    background-color: green;
    opacity: 50%;
}

.allowed {
    pointer-events: all;
    background-color: green;
}